Selector {
	Property:value;
}

h1 {
	color: red;
	background-color: black;
	text-align: center;
	justify-content: center;
}

li {
   display: inline-block;
   color: black;
   text-align: right;
}

body {
	background-image: url(rawpixel-678089-unsplash.jpg);
	background-size: cover;
}

h2{
   font-family: 'Modern Antiqua', cursive;
   font-size: white;
}

p{
	background-color: rgba(170, 180, 190, 0.4);
	border: 5px solid black;
	border-color: rgba(170, 180, 190, 0.2);
	margin-right: 750px;
	margin-left: 10px;
}